/*@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/inter/Inter-Regular.woff.woff') format('woff');
    font-display: swap; //temporarily show a system font during webfont load
}*/

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    background: $lightgreen;
    max-width: 1440px;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'zero' on;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    margin: 0;   
    word-break: break-word;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    //line-height: 1.25;
}
h1 {
    font-size: $headingOne;
}
h2 {
    font-size: $headingTwo;
}
h3 {
    font-size: $headingThree;
}
h4 {
    font-size: $headingFour;
}
h5 {
    font-size: $headingFive;
}
h6 {
    font-size: $headingSix;
}
p {
    $fontSizeMedium: 16px;
    margin: 0;
    line-height: 1.5;
}
a {
    color: $black;
    text-decoration: none;
}
ul {
    margin: 0;
}
.gm_hr {
    border-bottom: 1px solid $grey;
}
.is--right-aligned {
    text-align: right !important;
}
.is--center-aligned {
    text-align: center !important;
}

///////////////////////////////// HEADER /////////////////////////////////
.gm_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
.gm_header__left, .gm_header__right {
    display: flex;
    align-items: center;
}
.gm_header__logo {
    padding: 16px;
    margin-left: -16px;
    img {
        max-width: 120px;
    }
}
.gm_search-bar {
    background: white;
    height: 32px;
    width: 41.66666667vw;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
        margin-right: 16px;
    }
}
.gm_navigation__list {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.gm_navigation__list-item-link {
    padding: 8px;
    margin: 16px;
    font-size: $fontSizeSmall;
    color: $middledarkgrey;
    //font-weight: 500;
    &.is--active {
       font-weight: 600; 
       color: $black;
    }  
}
.gm_profile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 16px;
}
.gm_status {  
    font-weight: 600;   
    padding: 4px 8px;
    border-radius: 6px;
    font-size: $fontSizeSmall;
    &.is--disabled {
        color: $darkgrey;
        background: $grey;
    }
    &.is--active {
        color: $green;
        background: $middlelightgreen;
    }
    &.is--pending {
        color: $orange;
        background: $lightorange;
    }
}

///////////////////////////////// SECTION AUCTION /////////////////////////////////
.gm_section-auction {
    margin-top: 80px;
}
.gm_section-auction__headline-container {
    width: 100%;
}
.gm_section-auction__brief-information {
    font-size: $fontSizeSmall;
    display: flex;
    align-items: center;
    color: $middledarkgrey;
    margin: 0 -8px;
    p {
        margin: 0 8px;
    }
}
.gm_section-auction__headline {
    margin-top: 16px;
}
.gm_section-auction__content-container {
    display: flex;
    width: 100%;
    margin: 80px -10px 0;
    h2 {
        font-size: $headingFour;
    }
}
.gm_section-auction__auction-information {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    margin-bottom: -24px;
    li {
        margin-top: 24px;
    }
    p {
        margin-top: 8px;
        font-size: $headingFive;
        &.is--with-icon {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
            }
        }
    }
}
.gm_section-auction__order-container {
    .gm_hr {
        margin-top: 56px;
    }
}
.gm_section-auction__order-information {
    list-style-type: none;
    padding: 0;
    margin: 40px -16px 0;
    display: flex;
    li {
        width: 33.33333333%;
        padding: 0 16px;
    }
    p {
        margin-top: 8px;
        font-size: $headingThree;
        &.is--with-icon {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
            }
        }
    }
    &.is--important {
        p {
            margin-top: 24px;
            font-size: $headingOne;
        }
    }
    &.is--full-width {
        li {
            width: 100%;
        }
    }
}
.gm_section-auction__label {
    font-size: $fontSizeSmall;
    color: $middledarkgrey;
    font-weight: 500;
}
.gm_section-auction__country-container {
    display: flex;
    flex-wrap: wrap;
    margin: 16px -8px 0;
    color: $middledarkgrey;
    font-size: $fontSizeSmall;
}
.gm_section-auction__country {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    img {
        margin-bottom: 4px;
        border-radius: 100%;
        border: 1px solid $middlelightgrey;
    }
}

///////////////////////////////// SECTION OFFER /////////////////////////////////
.gm_section-offer {
    background: white;
    padding-top: 104px;
    margin: 104px -10px 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    h2 {
        font-size: $headingThree;
    }
    table {
        margin-top: 40px;
        width: 100%;
        border-collapse: collapse;
    }
    tr {
        border-top: 1px solid $middlelightgrey;
        &:last-child {
            border-bottom: 1px solid $middlelightgrey;
        }
    }
    th {
        font-size: 14px;
        color: #7A7A7A;
        font-weight: 500;
        text-align: left;
    }
    td, th {
        padding: 24px 16px 24px 0;
        &:last-child {
            padding-left: calc(100% * 1 / 12);
        }
        /*width: calc(100% * 2 / 12);
        &:first-child, &:last-child {
            width: calc(100% * 1 / 12);
        }*/
    }
    .col-xs-1, .col-xs-2 {
        float: none;
    }
}
.gm_section-offers__traded-volume {
    font-weight: 600;
}
.gm_section-offers__traded-volume__is-empty {
    &:before {
        content: "-";
    }
}
.gm_section-offers__technologies {
    padding-right: 0 !important;
    img {
        margin-right: 4px;
    }
}
.gm_section-offers__country {
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding: 4px;
    color: $middledarkgrey;
    font-size: $fontSizeSmall;
    img {
        margin-bottom: 4px;
        border-radius: 100%;
        border: 1px solid $middlelightgrey;
    }
}
.gm_section-offers__status-container {
    padding-right: 0 !important;
}

///////////////////////////////// FOOTER /////////////////////////////////

.gm_footer {
    background: white;
    height: 120px;
    align-items: flex-end;
    //justify-content: center;
    font-size: $fontSizeSmall;
    color: $grey;
}
.gm_footer__license-notice {
    margin-bottom: 24px;
}