@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/inter/Inter-Regular.woff.woff') format('woff');
    font-display: swap; //temporarily show a system font during webfont load
}

body {
    background: $lightgreen;
    max-width: 1440px;
    font-family: 'Inter Regular', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    //line-height: 1.25;
}
h1 {
    font-size: $headingOne;
}
h2 {
    font-size: $headingTwo;
}
h3 {
    font-size: $headingThree;
}
h4 {
    font-size: $headingFour;
}
h5 {
    font-size: $headingFive;
}
h6 {
    font-size: $headingSix;
}
p {
    $fontSizeMedium: 16px;
    margin: 0;
    line-height: 1.8;
}
a {
    color: $black;
    text-decoration: none;
}
.gm_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
.gm_header__left, .gm_header__right {
    display: flex;
    align-items: center;
}
.gm_header__logo {
    padding: 16px;
    margin-left: -16px;
    img {
        max-width: 120px;
    }
}
.gm_search-bar {
    background: white;
    height: 32px;
    width: 41.66666667vw;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
        margin-right: 16px;
    }
}
.gm_navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.gm_navigation__list-item-link {
    padding: 8px;
    margin: 16px;
    font-size: $fontSizeSmall;
    color: $darkgrey;
    &.is--active {
       font-weight: 600; 
       color: $black;
    }  
}
.gm_profile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 16px;
}